body {
    padding: 0;
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #166fe5;
    color: #fff;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 10px;
}

.logout-button {
    background: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underlines from the anchor tag */
    margin-left: auto; /* Push the "Log out" button to the right */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0); /* Start with zero opacity */
    z-index: 1;
    pointer-events: none; /* Initially non-clickable */
    transition: background 3s, pointer-events 0.5s 3s; /* Add transitions */
}

.overlay.active {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    pointer-events: auto; /* Allow interactions */
}

.user-panel {
    margin: 0 auto;
    width: 40%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s, opacity 0.5s;
    position: relative;
    z-index: 3;
}

.user-panel.open {
    opacity: 1;
}

#editForm {
    text-align: center;
}

p{
    margin: 0 auto;
    width: 80%;
    padding-bottom: 25px;
    color: rgba(55, 55, 55, 0.6);
}

h2 {
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 70%;
    padding: 10px; 
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background: #166fe5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background: #135bc5;
}
