<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="box">
        <div class="title-box">
            <h1>healthguard</h1>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <p>HealthGuard Insurance provides comprehensive health coverage to safeguard your well-being and peace of mind.</p>
        </div>
        <div class="form-box">
        <form method="POST" action="{{ url_for('login') }}">
            <input type="text" name="username" id="username" placeholder="Email address or phone number" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <button type="submit">Log In</button>
        </form>
        <hr>
        <div class="create-btn">
            <a href="{{ url_for('register') }}">Create New Account</a>
        </div>
        </div>
    </div>
</body>
</html>