<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>HealthGuard</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <h1>HealthGuard</h1>
        </div>
        <div class="navbar-right">
            <h3>{{username}}</h3>
            <div class="user-photo">
                <img src="{{ url_for('static', filename='default.jpg') }}" alt="User Photo">
            </div>
        </div>
    </div>
</body>
</html>
