<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>HealthGuard</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <h1>Vehicle Guard</h1>
        </div>
        <div class="navbar-right">
            <div class="user-info">
                <h3 id="username">{{ username }}</h3>
                <div class="user-photo">
                    <img src="{{ url_for('static', filename='default.jpg') }}" alt="User Photo">
                </div>
            </div>
            <a href="{{ url_for('logout') }}" class="logout-button">Log out</a>
        </div>
    </div>
    <div class="quote-button-container">
        <button class="quote-button">Quote Vehicle</button>
    </div>
    <div class="overlay"></div>
    <div id="userPanel" class="user-panel">
        <button class="close" id="closeButton">&times;</button>
        <form id="editForm">
            <h2>Edit Profile</h2>
            <p>This is the only data we have from you. Feel free to ask for the deletion of it or modify it as you want.</p>
            <div>
                <label for="editUsername">New Username:</label>
                <input type="text" id="editUsername" name="editUsername" value="{{ username }}">
            </div>
            <div>
                <label for="editPassword">New Password:</label>
                <input type="password" id="editPassword" name="editPassword">
            </div>
            <p id="password-strength"></p>
            <div>
                <label for="editEmail">New Email:</label>
                <input type="email" id="editEmail" name="editEmail" value="{{ email }}">
            </div>
            <button type="submit">Save Changes</button>
            <p></p>
        </form>
    </div>
    <div class="quote-cards">
        <!-- Example vehicle cards -->
        <div class="quote-card">
            <h2>Vehicle 1</h2>
            <p>Model: Model 1</p>
            <p>Value: $10,000</p>
            <p>Expires: 01/01/2024</p>
        </div>
        <div class="quote-card">
            <h2>Vehicle 2</h2>
            <p>Model: Model 2</p>
            <p>Value: $15,000</p>
            <p>Expires: 02/15/2024</p>
        </div>

        {% for vehicle in vehicles %}
        <div class="quote-card">
            <h2> {{vehicle.vehicle_id}}</h2>
            <p>Model: {{vehicle.model}}</p>
            <p>Year: {{vehicle.year}}</p>
            <p>Brand: {{vehicle.brand}}</p>
        </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>