<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="box">
        <div class="title-box">
            <h1>VehicleGuard</h1>
            <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <p>Insurance offers complete coverage to protect your vehicle and provide you with peace of mind on the road.</p>
        </div>
        <div class="form-box">
        <form method="POST" action="{{ url_for('register') }}">
            <input type="text" name="name" id="name" placeholder="Name" required>
            <input type="text" name="surname" id="surname" placeholder="Surname" required>
            <input type="text" name="email" id="email" placeholder="Email" required>
            <input type="SSN" name="SSN" placeholder="SSN" id="SSN" required>
            
            <input type="password" name="password" id="password" placeholder="Password" required>
            <div id="password-strength">
                <ul>
                    <li id="length">At least 16 characters</li>
                    <li id="uppercase">At least one uppercase letter</li>
                    <li id="lowercase">At least one lowercase letter</li>
                    <li id="digit">At least one digit</li>
                    <li id="character">Includes at least one special character</li>
                </ul> 
            </div>
            <div class="overlay"></div>
            <div id="accept-tnc">
                <label for="accept-tnc">Please accept our <span id="terms-link">Terms & Conditions</span></label>
                <p></p>
            </div>                  
            <button type="submit" id="login-button" disabled>Register</button>
        </form>
        <div class="create-btn">
            <a href="{{ url_for('index') }}">I already've an account</a>
        </div>
        </div>
    </div>
    <div id="termsPanel" class="user-panel">
        <button class="close" id="closeButton">&times;</button>
        <h2>Terms and Conditions</h2>
        <p>
            <h3>Términos y Condiciones de Vehicle Guard</h3>

            Bienvenido a Vehicle Guard. Al utilizar nuestro sitio web y servicios, usted acepta los siguientes términos y condiciones, así como la política de privacidad. Por favor, léalos cuidadosamente.
            
            <ol>
            <li>Información Personal:</li>
            Al utilizar nuestro sitio web para cotizar seguros de vehículos, se le solicitará proporcionar cierta información personal como su nombre, apellido, dirección, número de teléfono, correo electrónico, número de identificación, y detalles del vehículo. Estamos comprometidos a proteger su privacidad y solo utilizaremos su información conforme a la Ley de Protección de Datos Personales de Perú (Ley N° 29733).
            
            <li>Uso de la Información:</li>
            La información proporcionada se utilizará para:
                <ul>
                    <br>
                    <li>Proporcionarle cotizaciones de seguros basadas en la información proporcionada.</li>
                    <li>Mejorar nuestros servicios y la experiencia del usuario.</li>
                    <li>Contactarlo con respecto a nuestras ofertas y servicios que podrían ser de su interés.</li>
                    <br>
                </ul>
            
            <li>Seguridad de la Información:</li>
            Tomamos medidas serias para proteger su información. Utilizamos tecnologías de cifrado y otras medidas de seguridad para proteger su información personal tanto en tránsito como en reposo.
            
            <li>Terceros:</li>
            No compartiremos su información con terceros sin su consentimiento, a menos que sea necesario para proporcionar los servicios solicitados o conforme a lo requerido por la ley.
            
            <li>Derechos de los Usuarios:</li>
            Conforme a la Ley de Protección de Datos Personales, tiene derecho a acceder, rectificar y cancelar sus datos personales, así como a oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado.
            
            <li>Cambios en los Términos y Condiciones:</li>
            Podemos actualizar estos términos y condiciones ocasionalmente. Le recomendamos revisar esta página regularmente para estar al tanto de cualquier cambio.
            
            <li>Contacto:</li>
            Si tiene alguna pregunta o inquietud sobre estos términos y condiciones o sobre nuestra política de privacidad, no dude en contactarnos.
            </ol>
            Al utilizar nuestro sitio web y proporcionar su información, usted acepta estos términos y condiciones y la política de privacidad de Vehicle Guard.
        </p>    
        <label for="accept-tnc">I accept the terms and conditions</label>
        <input type="checkbox" name="accept-tnc" id="tickbox">
    </div>
    <script src="{{ url_for('static', filename='password.js') }}"></script>
    <script src="{{url_for('static', filename='togglepanel.js')}}"></script>
</body>
</html>