<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="{{ url_for('register') }}">
            <h2>Register</h2>
            {% if username_taken %}
                <p style="color: red;">Username already taken. Please choose another.</p>
            {% endif %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="nrotelf">Phone</label>
                <input type="text" name="nrotelf" id="nrotelf" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
 </body>
 </html>